body {
    margin: 0;
    font-family: "Press Start 2P";
    display: flex;
    padding: 16px;
    justify-content: center;
  }
  
  .info {
    width: 240px;
    display: flex;
    flex-direction: column;
    margin:32px;
    gap:8px;
  }
  #main {
    border:4px solid;
    border-radius: 9px;  
    /* margin-right: 20%; */
  }
  