body {
    margin: 0;
    font-family: "Press Start 2P";
    display: flex;
    padding: 16px;
  }
  
  .info {
    flex:1;
    display: grid;
  }
  #main {
    border:4px solid;
    border-radius: 9px;  
  }
  